/*
	Folha de estilos TCC
*/

body {
	margin:0;
	padding:0;
	font-family:"myriad";
	background: #F7F5E6;	
}

#banner {
	height:90px;
	background-color: rgb(25,52,65);
	padding: 30px 0px 30px 0px;
	font-family: 'Hind', sans-serif;
}

p{
	padding: 0;
}

.item-menu{
	text-decoration: none;
    text-decoration: none;
    color: white;
}
.item-menu:hover{
	text-decoration: none;
    text-decoration: none;
    color: white;
}

a:hover{
	text-decoration:none;
}

.item-menu{
	color: white;
}

#login{
	color: white;
}

/*CARD DEPOIMENTOS */
#card-depoimento{
	height: 370px;
}
.card-title{
	font-weight: 700;
	border-bottom: 1px rgb(25,52,65) solid;
	padding-bottom: 10px;
}
.card-text{
	border-top: 1px rgb(25,52,65) solid;
	padding-top: 10px;
}


#rodape{
	color: white;
	background-color: rgb(25,52,65);
	padding: 30px 30px 30px 30px;
	font-family: 'Hind', sans-serif;
	font-size: 18px;
}

.rodapeTitulo{
	font-size: 25px;
}

#instagram{
	margin-top: 30px;
}

#youtube{
	margin-top: 30px;
}

#linkedin{
	margin-top: 30px;
}

#rodape-baixo{
	padding-top: 20px;
	background-color: rgb(23,49,62);
	color: white;
	font-family: 'Hind', sans-serif;
}

#fundomapa {
	background-image:url(../img/fundoestado.png);
	width:100%;
	height:550px;
}

#map {
	width:319px;
	height:321px;
	background-image:url(../img/mapa.png);
}

#mapSelecionado {
	width:68px;
	height:43px;
	background-image:url(../img/mapaSelecionado.png);
	right:80.5px;
	position:absolute;
	bottom:71px;
	opacity:0;
	transition:all 0.5s;
}

#mapSelecionado:hover {
	opacity:1;
	transition:all 0.5s;
	cursor:pointer;
}

text{
	font-size: 18px;
}

/* RESET SENHA */
.duvida{
	text-decoration: none;
    text-decoration: none;
    color: white;
}
.duvida:hover{
	text-decoration: none;
    text-decoration: none;
    color: white;
}